<!DOCTYPE html>
<html lang="en">
<head>
<title>Wildlife Tracker | Sightings</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="content">
  <div class="container_12">
    <div class="bottom">
      <h2>Endangered Animals</h2>
    </div>
    <div class="clear"></div>
    <div class="grid_4">
      <div> <img src="images/page3_img3.jpg" alt="" >
        <div class="extra_wrapper">
          <div class="text2 col2"><a href="#">Lokitoq</a></div>
          Laes quis orci eget diam viverralopr conequat. Fusce sagit quam ihui hyhy kolo opirlo pulvinarhjkjo.</div>
      </div>
    </div>
    <div class="grid_4">
      <div> <img src="images/page3_img4.jpg" alt="" >
        <div class="extra_wrapper">
          <div class="text2 col2"><a href="#">Gylikot</a></div>
          Foaesent quis orci diam viverralopr conequat. Lusce sagittis quam ihui hyhy opirpulvinarhjk velit.</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="grid_4">
      <div> <img src="images/page3_img5.jpg" alt="">
        <div class="extra_wrapper">
          <div><a href="#">Name of Animal</a></div>
          Eroaesent quis orci ediam viverralopr con jikjulo poiu retyulo hykequat. Usce sagittis ki quam ihui hyhy opirp. </div>
        </div>
    </div>
  </div>
</div>
    <div class="footer">
      <p align="center">Wildlife Tracker | Design by: Carolyne Milgo</p>
  </div>
</body>
</html>
